<div id="forgetPassword">
	<div class="title">
		<a (click)="goBack()"><i class="fa fa-step-backward"></i> 返回</a>
		<i class="fa fa-exclamation-circle"></i> 忘记密码
	</div>
	<div id="main-container">
		<div id="step1" class="step" [ngClass]="{'hide':currentStep != 1}">
			<div class="content">
				<table>
					<tr>
						<td width="20%" align="right"><b class="c_red">*</b> 机构码:</td>
						<td width="40%"><input type="text" placeholder="请输入机构码" maxlength="32" [(ngModel)]="orgCode" /></td>
						<td width="40%" class="c_red">{{orgCodeError}}</td>
					</tr>
					<tr>
						<td align="right"><b class="c_red">*</b> 登录信息:</td>
						<td><input type="text" placeholder="请输入手机号/邮箱/登录名" maxlength="32" [(ngModel)]="loginInfo" /></td>
						<td class="c_red">{{loginInfoError}}</td>
					</tr>
				</table>
			</div>
			<p class="next-step"><a class="button yellow" (click)="step(1)">下一步</a></p>
		</div>
		<div id="step2" class="step" [ngClass]="{'hide':currentStep != 2}">
			<div class="content">
				<table>
					<tr>
						<td width="20%" align="right"><b class="c_red">*</b> 邮箱验证码:</td>
						<td width="40%"><input type="text" placeholder="请输入邮箱验证码" maxlength="32" [(ngModel)]="checkCode" /></td>
						<td width="40%" class="c_red">{{checkCodeError}}</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2"><a class="button white getcheckCode" (click)="getcheckCode()">{{countDownText}}</a></td>
					</tr>
					<tr>
						<td align="right"><b class="c_red">*</b> 新密码:</td>
						<td><input type="password" placeholder="6~32位密码" maxlength="32" [(ngModel)]="password" /></td>
						<td class="c_red">{{passwordError}}</td>
					</tr>
					<tr>
						<td align="right"><b class="c_red">*</b> 确认新密码:</td>
						<td><input type="password" placeholder="请确认新密码" maxlength="32" [(ngModel)]="repeatPassword" /></td>
						<td class="c_red">{{repeatPasswordError}}</td>
					</tr>
				</table>
			</div>
			<p class="next-step">
				<a class="button yellow" (click)="step(2)">提交</a>
			</p>
		</div>
	</div>
</div>